In [2]:
# Imports
import pandas as pd
import numpy as np
from collections import Counter
import sys
import time
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_ind

In [65]:
# Get the data into a dataframe to manupulate and do preprocessing
dataFile = 'AmItheAsshole_with_comments_10.csv'
dataFile2 = 'AmItheAsshole_hot.csv'
df = pd.read_csv(dataFile)
df2 = pd.read_csv(dataFile2)
df = df[['comments', 'body']]
df2 = df2[['comments', 'body']]
df = df.append(df2, ignore_index=True)

gt_array = []
np.array(gt_array)
count = 0
LIMIT = 300
for row in df.itertuples():
    arr = row[1].lower()
    nta_count = arr.count('nta') + arr.count('nah')
    yta_count = arr.count('yta') + arr.count('esh')
    if nta_count == 0 and yta_count == 0:
        ratio = .5
    elif nta_count > 0:
        ratio = yta_count / nta_count
    else:
        ratio = 1
    
    if ratio > .45 and ratio < .55:
        gt_array.append(2)
    elif nta_count > yta_count and count < LIMIT:
        gt_array.append(0)
        count += 1
    elif yta_count > nta_count:
        gt_array.append(1)
    else:
        df = df.drop(row[0], axis=0)

gt_data = {'label': gt_array}
gt_df = pd.DataFrame(gt_data)
print(gt_df['label'].value_counts())
display(df)
display(gt_df)

0    300
1    213
2     52
Name: label, dtype: int64

,comments,body
0,['#[Be Civil](https://www.reddit.com/r/AmItheA...,My brother in-law (Sammy) lost his home shortl...
1,"[""I'm just going to go ahead and snag the stic...",I’ve enjoyed reading and posting on this sub f...
2,"[""Wow. OP's grandfather is a saint."", ""I'm gla...","I'm back like I said I would be,. My [original..."
3,"[""#Thread has been re-locked **for good** beca...",I'll try to keep this short. I had a [1967 Imp...
4,['We\'ve chosen to lock this update due to the...,I want to sincerely thank everyone who comment...
...,...,...
1660,['As someone who camped solo with his friends ...,Me and my husband have been divorced since are...
1673,"['YTA you sound like a spoiled brat, if you sn...",So I turned 18 and my parents got me a bunch o...
1708,"[""I.N.F.O. - What business doesn't have a sche...",I’ve been working at this restaurant for 6 mon...
1709,['YTA. “Gave her the money” means it isn’t you...,I (39 female) have an eldest daughter Ava (14)...
1713,"[""I don't care whether you were an asshole or ...","On mobile, so sorry for the layout.\n\nI (26f)..."

     label
0        0
1        0
2        0
3        0
4        2
..     ...
560      1
561      1
562      1
563      1
564      1

[565 rows x 1 columns]

In [66]:
bag_of_words = (
    df['body'].
    str.lower().                  # convert all letters to lowercase
    str.replace("[^\w\s]", " ").  # replace non-alphanumeric characters by whitespace
    str.split()                   # split on whitespace
)

raw_frequency = bag_of_words.apply(Counter)

df['selftext'] = raw_frequency

tf = pd.DataFrame(list(raw_frequency),index=raw_frequency.index)
columns = list(tf.columns)
tf = tf.fillna(0)

stopFile = 'stopwords.txt'
f = open(stopFile, "r")
stop_words = []
for line in f:
    words = line.split(',')
for word in words:
    word = word.replace('"', "").strip(" ").lower()
    stop_words.append(word)
    
for col in columns:
    if col in stop_words:
        tf = tf.drop([col], axis=1)

# Get document frequencies 
# (How many documents does each word appear in?)
df = (tf > 0).sum(axis=0)

# Get IDFs
idf = np.log(len(tf) / df)
idf.sort_values()

# Calculate TF-IDFs
tf_idf = tf * idf
tf_idf

<ipython-input-66-999afe3b3dc9>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['body'].

,my,brother,law,sammy,lost,his,home,shortly,after,divorce,...,lgbtqi,celebrity,identifies,isa,surgeries,sharpest,forths,peek,caps,passionate
0,0.157288,4.092733,3.503612,31.684129,2.276383,5.091478,2.190157,3.93893,1.879196,3.292303,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.019661,2.046366,0.000000,0.000000,0.000000,0.727354,1.095079,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.963391,0.000000,0.000000,0.000000,4.552765,0.727354,1.095079,0.00000,2.505595,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.235933,0.000000,0.000000,0.000000,0.000000,0.727354,2.190157,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.098305,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,0.078644,0.000000,0.000000,0.000000,0.000000,2.909416,0.000000,0.00000,0.626399,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1673,0.039322,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1708,0.117966,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.626399,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1709,0.039322,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.626399,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,25.347303,6.336826,6.336826,6.336826,6.336826,6.336826,6.336826,6.336826,6.336826,6.336826

In [77]:
def preprocess(text):
    
    bag_of_words = (
    text.
    lower().                  # convert all letters to lowercase
    replace("[^\w\s]", " ").  # replace non-alphanumeric characters by whitespace
    split()                   # split on whitespace
    )
    
    for word in bag_of_words:
        if word in stop_words:
            bag_of_words.remove(word)
    
    raw_frequency = Counter(bag_of_words)

    tf2 = tf.append(raw_frequency, ignore_index=True)
    tf2 = tf2.fillna(0)
    
    df = (tf2 > 0).sum(axis=0)

    # Get IDFs
    idf = np.log(len(tf2) / df)
    idf.sort_values()

    # Calculate TF-IDFs
    tf_idf = tf2 * idf
    
    return tf_idf.iloc[-1]

In [78]:
text = "I really hate clowns"
vector = preprocess(text)
print(vector)

my            0.000000
brother       0.000000
law           0.000000
sammy         0.000000
lost          0.000000
                ...
forths        0.000000
peek          0.000000
caps          0.000000
passionate    0.000000
clowns        6.338594
Name: 565, Length: 10638, dtype: float64

In [91]:
# scikit learns version of RandomForests
def randomForest(df, gt_df):
    #implement the random forest algorithm on the data
    X = df
    y = gt_df['label']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
    rf = RandomForestClassifier(n_estimators=20)
    rf.fit(X_train, y_train)
    pred = rf.predict(x_test)
    print(pred)
    return rf

    # y_pred = rf.predict(X_test)
    # display(y_pred)
    # print('Accuracy:', accuracy_score(y_test, y_pred))

In [92]:
# scikit learns version of RandomForests
def KNN(df, gt_df):
    #implement the random forest algorithm on the data
    X = df
    y = gt_df['label']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
    neigh = KNeighborsClassifier(n_neighbors=3)
    neigh.fit(X_train, y_train)
    return neigh

In [94]:
rf = randomForest(tf_idf, gt_df)
text = "love love love love"
vector = preprocess(text)
pred = rf.predict([vector])
print(pred)

[1]

In [90]:
KNN(tf_idf, gt_df)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1], dtype=int64)

Accuracy: 0.3805309734513274